# Fill your config
API_HASH = "742edde72acc2b453fcec94315429412"
BOT_TOKEN = "6964339720:AAFqsfNXaa1TPlUzMlsiYjv5O7UTIQYqGJA"
TELEGRAM_API = "18694778"
OWNER = "6887215279"
OWNER_USERNAME = "Md_Matin_Boss"
PASSWORD = "Thanksmatin"
DATABASE_URL = "mongodb+srv://mdmatinashraf43:gymoW5DpuqoKf9xg@cluster0.s2falsa.mongodb.net/?retryWrites=true&w=majority"
LOGCHANNEL = "-1002137423256"   # Add channel id as: "-100 + Actual_ID"
USER_SESSION_STRING = "BAFVGBYAcp5ojy1wfTGY62ahuWjYKyRmYHNGlwPzodat4PaUJ7GX30jlGoVAy4QZz9l3AeYI6bxn3MbUFZRyqAjrhHlN60-8tz6bapSgeBYhh6gAvcWTAViXoVeroHbeJhaLVuMU2qdoUZNvQ6T7DaGnCxiNz_SkRxmTrgjGy7uRkztnLf8b5eVZxvCtvaWZsLnMLMgfWp6ZeBBUnm0fuaGG3ASSYUv2TLARQFgdRgaBQbFPGbJLM2JVvakKC5W3p_mxILCpKT2YuCYR36DVFJbT_W3ths1Xfh6Y876PNeuLWDp7w00YHfhV30D9SLOaf7xlilEBvxBiTligRSVUsZo-m5H-uQAAAAGL-g6kAA" # Premium account session string to upload upto 4GB (requires "LOGCHANNEL")
IS_PREMIUM = True

# tired of redeploying :(
UPSTREAM_REPO = "https://github.com/MATIZT/MERGE-BOT"
UPSTREAM_BRANCH = "master"
